@import "tailwindcss";

:root {

  --font-heading: 'Marcellus', serif;
  --font-body: 'Lato', sans-serif;
  --font-accent: 'Nunito', sans-serif;

  /* Custom Colors (Historic Elegance) */
  --color-primary: #C8B191;
  --color-primary-dark: #6B5B43;
  --color-primary-light: #F5E9D7;

  --color-secondary: #A89A8B;
  --color-secondary-dark: #51463B;
  --color-secondary-light: #E0D6C8;

  --color-accent: #8B6A4F;
  --color-accent-light: #D7C1B0;

  --color-background: #F9F6F1;

  --color-text-primary: #2E2B26;
  --color-text-secondary: #5C5245;
}

@theme inline {
  /* Fonts */
  --font-heading: var(--font-marcellus);
  --font-body: var(--font-lato);
  --font-accent: var(--font-nunito);

  /* Colors */
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-light: var(--color-primary-light);
  --color-secondary: var(--color-secondary);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-secondary-light: var(--color-secondary-light);
  --color-accent: var(--color-accent);
  --color-accent-light: var(--color-accent-light);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-background: var(--color-background);
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-body);
}

.modal {
    /* The Modal (background) */
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    padding-bottom: 60px;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.activeImageLightBox {
    opacity: 1;
    visibility: visible;
}

.modal .fadein {
    /* animation: fadeInImage 0.3s linear 0s 1  ; */

}

/* Modal Content */
.modal .modal-content {
    position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 0;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

/* The Close Button */
.modal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    box-sizing: border-box;


}

.modal .close:hover {
    color: #999;
    text-decoration: none;
    cursor: pointer;

}



.modal .mySlides {
    display: none;
    height: 70%;
    box-sizing: border-box;
    margin: auto auto;
}

.modal .cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.modal .prev,
.modal .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);


}

.modal .prev:hover,
.modal .next:hover {
    background-color: rgba(0, 0, 0, 0.8);

}

/* Position the "next button" to the right */
.modal .next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */


/* Number text (1/3 etc) */
.modal .numbertext {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    -webkit-text-stroke: .5px black;
}

.modal img {
    margin-bottom: -4px;
}

.modal .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.modal .demo {
    opacity: 0.6;
}

.modal .active:hover,
.modal .demo:hover {
    opacity: 1;
}

.modal img.hover-shadow {
    transition: 0.3s;
}

.modal .hover-shadow :hover {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
